# Compilaciones
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
ENV/

# Testing cache
.pytest_cache/
.coverage
htmlcov/
*cache*

# OS
.DS_Store

# IDEs
.vscode/
.vs/
.idea/

# Env
.env